:root {
    --accentorange: #FF7E3E;
    --accentblue: #173966;
    --accentred: #BF372A;
    --accentbeige: #F1E6D6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

footer {
    margin-top: auto;
}

#logo{
    width: 20%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Sedan SC';
    width: 100%;
    background-color: var(--accentorange);
}

#home-nav {
    background-color: transparent;
}

.navigation a {
    position: relative;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
    font-size: larger;
	color: #000;
    margin: 0;
}

.navigation a::before{
    content: "";
    position: absolute;
    float: right;
    width: 0;
    height: 4px;
    bottom: 3px;
    left: 0;
    background-color: var(--accentred);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    border-radius: 20px;
}

.navigation a:hover::before {
    visibility: visible;
    width: 100%;
}


.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

.header-container{
    position: relative;
}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 75%;
    height: 50%;
    margin: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    font-family: 'Sedan SC';
    font-size: 15px;
}

.button1 {
    background-color: var(--accentorange);
    color: var(--accentblue);
    border: 2px solid var(--accentblue);
}

.button2 {
    background-color: white;
    color: var(--accentblue);
    border: 2px solid var(--accentblue);

}

.button1, .button2 {
    height: 50px; 
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
}
img{
    width: 100%;
    height: auto;
}

main{
    display: grid;
    grid-gap: 20px;
    max-width: 100vw;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-top: 20px;
    padding-bottom: 20px;
}

body h1 {
    font-family: 'Sedan SC';
    font-size: 2rem;
    margin: auto;
}

body h2, h3 {
    font-family: 'Sedan SC';
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    color: var(--maincolor);
    border-bottom: 2px solid var(--maincolor);
    font-size: 35px;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    width: 100%;
    text-align: center;
    color: white;
    background-color:var(--accentblue);
    
}

#special-banner {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    color: white;
    background-color: var(--accentblue);
    transform: translateY(-100%);
    padding: 15px;
    animation: slideDown 2s ease-out forwards;
    text-align: center;
    font-size: larger;
}

#close-banner {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    background-color: var(--accentblue);
    border: none;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.about {
    text-align: left;
    border: 3px solid var(--accentblue);
    border-radius: 10px;
    max-height: 85%;
}

.about h2 {
    text-decoration: underline;
    padding: 20px;
}

.about p {
    padding: 1rem;
}

.photos {
    height:400px;
}

.photos, .photos h2 {
    background-color: var(--accentred);
    color: black;
    font-size: 35px;
    width: 100vw;
}

.social {
    border: 2px solid var(--accentorange);
    width: 100vw;
}

.social img {
    height: 100px;
    width: auto;
    padding: 10px;
    margin-left: 5%;
    align-items: center;
    justify-content: space-evenly;
    
}

.location {
    background-color: var(--accentblue);
    color:white;
    font-size: 35px;
    width: 100vw;
}

.location p {
    color: white;
    text-align: center;
    justify-content: center;
    width: 90%;
    font-size: medium;
    margin: auto;
    padding: 10px;
}

#slideshow{
    width: 100vw;
    height: auto;
    overflow: hidden;
    position: relative;
    align-items: center;
}

#slideshowImage {
    width: 100vw;
    height: auto;
    padding-top: 50px;
    position: absolute;
    transition: opacity 2s ease;
}

#imageDescription {
    font-size: medium;
    text-align: center;
    padding: 10px;
}

.rentals {
    background-color: var(--accentbeige);
    border: none;
    border-top: 5px solid var(--accentred);
    border-bottom: 5px solid var(--accentred);
    box-shadow:
            0 5px 0 0 var(--accentblue),
            0 -5px 0 0 var(--accentblue)
}

.weather, .weather h2{
    background-color: var(--accentorange);
    color: var(--accentblue);
    font-size: 30px;
    width: 100vw;
}

.forecast {
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}

.forecast-item {
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    border-radius: 2px;
    height: 200px;
    width: 150px;
    border: 1px solid var(--accentblue);
}

.forecast-item h3 {
    padding: 5px;
    color:white;
    background-color: var(--accentblue);
}

.weather img {
    height: 30%;
    width: auto;
}

footer{
    padding: 15px;
}

/*--------discovery page------------*/

.local-photos {
    background-color: white;
}

.local-photos img {
    transition: all 0.3s ease-in-out;
    border: 4px solid transparent;
}

.local-photos img:hover {
    transform: scale(1.03);
    border: solid 4px var(--maincolor);
}

.hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.side-bar {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.side-bar h1 {
    padding: 20px;
}

.side-bar p {
    padding: 20px;
}

.side-bar section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--maincolor);
    border-radius: 10px;
    margin-bottom: 20px;
    max-width: 65%;
    text-align: center;
    background-color: var(--secondary);
}

.fiddlers img {
    width: 80%;
    height: auto;
    position: relative;
    padding: 20px;
}

figcaption {
    text-align: center;
    color: #333;
    font-size: 18px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.fiddlers section {
    padding: 15px;
}

.fiddlers img {
    padding: 20px;
}

.fiddlers p {
    padding: 5px;
}

/*------------join page-------------*/

.membership h1 {
    height: 5%;
    font-size: 2rem;
    vertical-align: middle;
}

.signup {
    background-color: white;
}

.membership {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
}

#membership-header {
    background-color: white;
    box-shadow: 0 0 0 0;
    border: none;
}

.membership h2{
    border: solid 2px var(--accent2);
    background-color: var(--accent1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: black;
}

.gold  h2 {
    background-color: darkgoldenrod;
}

.silver h2 {
    background-color: silver;
}

.bronze h2 {
    background-color: #ce7e39;
}

.np h2 {
    background-color: white;
}

.membership p{
    padding: 20px;
    border: solid 1px var(--accent2);
    background-color: var(--accent1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/*-------------form--------------*/

.wf1 fieldset {
    margin: 2rem 0;
    border: 3px solid var(--maincolor);
    border-radius: 2px;
    padding: .5rem 2%;
}

.wf1 legend{
    color: var(--accent2);
    font-size: larger;
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: var(--accent2);
    font-size: 1.2rem;
    text-align: left;
}

.wf1 div {
    padding-top: 1rem;
    color: var(--accent2);
    font-size: 1.2rem;
    text-align: left;
    text-decoration: underline;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 select,
.wf1 textarea
{
    background-color: var(--accent1);
    display: block;
    border: solid 1px #ddd;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type="radio"]{
    margin-right: 6px;
}

.wf1 input[type="submit"]{
    background-color: var(--maincolor);
    color: var(--accent1);
    border-radius: 5px;
    padding: .9rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.wf1 input:required{
    border-left: solid 8px var(--maincolor);
}

.wf1 input:required:valid{
    border-right: none;
}

/*--------------thankyou-----------*/

.thankyou h2 {
    padding: 100px;
}

.thankyou-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.thankyou-footer{
    margin-top: auto;
}


/*------------directory-----------*/

.directory {
    display: block;
    background-color: white;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:var(--accent1);
    box-shadow: 0px 1px 5px rgba(0,0,0,0.6);
    padding: 1.5rem;
    width: 275px;
    height: 450px;
    margin: auto;

}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    align-items: center;
}

.card h1 {
    color: var(--accent2);
    background-color: white;
    font-family: "Times New Roman";
    font-size: smaller;
}

.card p {
    text-align: center;
}

.card img {
    max-width: 100%;
    height: 100%;
    text-align: center;
}

.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
    width: 5rem;
}

.list{
    display: flex;
    flex-direction: column;
}

.list .card {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 10px; 
    height:auto;
}


.list img {
    display: none;
}

.list .description {
    display: none;
}

.list .card:nth-child(even) {
    background-color: white;
}

.grid .card .card-title {
    display: none;
}

.list .card .card-title {
    display: block;
}
/*-------------media------------*/

@media (max-width: 600px){
    body{    
        justify-content: center;
        grid-gap:0;
        max-width: 600px;
    }
    
    .navigation {
        display: flex;
        flex-direction: column;
    }
    .navigation a{
        display: none;
    
    }
    
    body h1 {
        font-size: 10vw;
    }

    .open a {
        display: block; 
     }
    
    #menu{
        background-color: var(--accent1);
        border: none;
        position: relative;
        float: right;
        left: 0;
    }
    #menu::before{
        content: "☰";
        font-size: 25px;
        background-color: var(--accentorange);
    }
    #menu.open::before{
        content: "X";
        font-size: 20px;
    }
    
    .list {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 100%; /* Limit width */
        overflow-x: auto; /* Add a scrollbar if the contents are too wide */
    }

    .list .card {
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap; /* Wrap items onto the next line if they do not fit */
        margin-bottom: 10px;
    }
    
    .forecast {
        flex-direction: column;
        align-items: center;
    }
    
    #special-banner {
        top: 0;
        left: 0;
        height: 60px;
        padding: 10px;
        width: 100%;
        text-align: center;
        font-size: large;
    }
 
}