@media (min-width: 600px) {
    main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
    .hero {
        position: relative;
    }
    
    .navigation-container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        background-color: rgba(255,255,255,0.65);
        width: 60%;
        margin-left: 20%;
        top: 4vw;
        border-radius: 50px;
        height: 150px;
        border: 2px solid var(--accentblue);
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    
    .header h1 {
        font-size: 45px;
    }
    
    
    #logo {
        height: 100%;
    }
    
    #menu {
        visibility: hidden;
    }
    
    .buttons{
        flex-direction: row;
        width: 30%;
        padding-bottom: 100px;
        height: 0;
       
    }
    
    .button1 {
        height: 50px;
    }
    
    .button2 {
        height: 50px;
    }
    
    
    .navigation{
        font-size: larger;
    }
    
    .action {
        padding: 20px;
        border-radius: 10px;
        font-size: 25px;
    }

    .events {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 1;

    }

    .about {
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-start: 1;

    }

    .highlights-container {
        grid-row-start: 2;
        grid-row-end: span 1;
        grid-column-start: 1;
        grid-column-end: span 4;
    }

    .highlights-section {
        flex-direction: row;


    }

    .weather {
        grid-column-start: 1;
        grid-column-end: span 4;
        grid-row-start: 3;
    }

    /*---------discover page--------*/
    .photo-main {
        display: flex;
        justify-content: center;
    }

    .local-photos {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .fiddlers {
        height: 500px;
    }

    .fiddlers img {
        width: 50%;
        height: auto;
    }

    /*-----------join page-------------*/
    .membership {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-end: span 4;
    }

    .signup {
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-end: span 4;
    }

    /*--------------thankyou-----------*/
    .thankyou h2 {
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 4;
    }
}