@media (min-width: 600px) {
    main {
        grid-template-columns: repeat(3, 1fr) 300px;
        grid-template-rows: repeat(4, 1fr);
    }
    
    .hero {
        position: relative;
    }
    
    body {
        min-width: 100vw;
    }
    
    .navigation-container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        background-color: rgba(255,255,255,0.65);
        width: 60%;
        margin-left: 20%;
        top: 4vw;
        border-radius: 50px;
        height: 150px;
        border: 2px solid var(--accentblue);
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    
    .header h1 {
        font-size: 45px;
    }
     section {
         width: 100%;
         padding: 0;
     }
    
    #logo {
        height: 100%;
    }
    
    #menu {
        visibility: hidden;
    }
    
    .buttons{
        flex-direction: row;
        width: 30%;
        padding-bottom: 100px;
        height: 0;
       
    }
    
    .button1 {
        height: 50px;
    }
    
    .button2 {
        height: 50px;
    }
    
    
    .navigation{
        font-size: larger;
    }
    
    .action {
        padding: 20px;
        border-radius: 10px;
        font-size: 25px;
    }
    
    .social {
        width: auto;
        padding: 10px;
        margin-left: 10px;
        grid-column-start: 1;
        grid-column-end: span 2;
        border: 5px solid var(--accentorange);
        border-radius: 10px;
    }
    
    .social h2 {
        font-size: 35px;
    }
    
    .photos h2 {
        border-top: 1px solid var(--accentblue);
    }
    
    .photos {
        border-left: 1px solid var(--accentblue);
        border-bottom: 1px solid var(--accentblue);
    }
    .photos, .photos h2 {
        grid-column-start: 3;
        grid-column-end: span all;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: auto;
        
    }
    
    #slideshowImage {
        padding-left: 7%;
        padding-right: 10px;
        padding-top: 40px;
        height: 300px;
        width: auto;
        grid-column-end: span 2;
    }
    
    .rentals {
        grid-column-start: 1;
        grid-column-end: span all;
        background-color: var(--accentbeige);
        border: none;
        border-top: 5px solid var(--accentred);
        border-bottom: 5px solid var(--accentred);
        box-shadow: 
                0 5px 0 0 var(--accentorange),
                0 -5px 0 0 var(--accentorange),
                0 10px 0 0 var(--accentblue),
                0 -10px 0 0 var(--accentblue)
    }
    
    .location {
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row-start: 3;
        border-top: 1px solid var(--accentorange);
        border-bottom: 1px solid var(--accentorange);
        border-right: 1px solid var(--accentorange);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: auto;
    }
    
    .weather h2 {
        width: auto;
        border-top-right-radius: 10px;
        border-top: 1px solid var(--accentblue);
    }
    
    .weather {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 4;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: auto;
        border-right: 1px solid var(--accentblue);
        border-bottom: 1px solid var(--accentblue);
    }

    /*---------discover page--------*/
    .photo-main {
        display: flex;
        justify-content: center;
    }

    .local-photos {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .fiddlers {
        height: 500px;
    }

    .fiddlers img {
        width: 50%;
        height: auto;
    }

    /*-----------join page-------------*/
    .membership {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-end: span 4;
    }

    .signup {
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-end: span 4;
    }

    /*--------------thankyou-----------*/
    .thankyou h2 {
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 4;
    }
}