@media (min-width: 600px) {
    main {
        grid-template-columns: repeat(3, 1fr) 300px;
        grid-template-rows: repeat(4, 1fr);
    }

    .hero {
        position: relative;
    }

    .header {
        margin: auto;
    }

    .image-two img {
        height: 270px;
    }


    #logo {
        width: 15%;
        padding: 0;
    }

    body {
        min-width: 100vw;
        margin-bottom: 0;
    }

    .navigation-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.90);
        width: 60%;
        margin-left: 20%;
        top: 4vw;
        border-radius: 50px;
        height: 150px;
        border: 2px solid var(--accentblue);
    }

    .navigation {
        background-color: transparent;
    }

    .header {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;

    }

    .header h1 {
        font-size: 45px;
    }

    section {
        width: 100%;
        padding: 0;
    }

    #logo {
        height: 100%;
    }

    #menu {
        visibility: hidden;
    }

    .buttons {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding-bottom: 100px;
        height: 0;

    }

    .button1, .button2 {
        height: 75px;
        width: 200px;
        font-size: 25px;
        padding-top: 20px;

    }

    .navigation {
        font-size: larger;
        border-bottom: none;
    }

    .action {
        padding: 20px;
        border-radius: 10px;
        font-size: 25px;
    }

    .about {
        grid-column-start: 1;
        grid-column-end: span 2;
        margin-left: 10px;
    }

    .social {
        width: auto;
        height: fit-content;
        padding: 10px;
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-start: 4;
        border: 5px solid var(--accentorange);
        border-radius: 10px;
        text-align: center;
        align-items: center;
    }

    .social img {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;
        margin-top: 5%;
    }

    .social h2 {
        font-size: 35px;
    }

    .photos h2 {
        border-top: 1px solid var(--accentblue);
    }

    .photos {
        border-left: 1px solid var(--accentblue);
        border-bottom: 1px solid var(--accentblue);
    }

    .photos, .photos h2 {
        grid-column-start: 3;
        grid-column-end: span all;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: auto;

    }

    #slideshowImage {
        padding-left: 7%;
        padding-right: 10px;
        padding-top: 40px;
        height: 300px;
        width: auto;
        grid-column-end: span 2;
    }

    .rental-container{
        grid-column-start: 1;
        grid-column-end: span all;
        background-color: var(--accentbeige);
        
    }
    
    .rentals {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
        overflow-x: auto;
    }
    
     .rental-card {
         margin: 5px;
         background-color: white;
         border: 1px solid var(--accentblue);

    }
    
    .rentals img {
        width: 250px;
        height: auto;
    }

    .location {
        grid-column-start: 1;
        grid-column-end: span 4;
        grid-row-start: 3;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--accentorange);
        border-bottom: 1px solid var(--accentorange);
        border-right: 1px solid var(--accentorange);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: auto;
    }

    .location-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 5%;
    }

    .location-images img {
        height: 175px;
        width: 350px;
        margin: auto;
    }

    .img1 {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .img2 {
        grid-row-start: 1;
        grid-column-start: 2;
    }

    .p1, .p2 {
        margin: auto;
    }


    .weather h2 {
        width: auto;
        border-top-right-radius: 10px;
        border-top: 1px solid var(--accentblue);
    }

    .weather {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 4;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: auto;
        border-right: 1px solid var(--accentblue);
        border-bottom: 1px solid var(--accentblue);
    }
   
    .weather-info {
        margin-left: 20%;
    }

    /*--------------contact page ---------------*/
    .contact {
        width: auto;
        display: grid;
        padding: 20px;
    }
    
    .contact-form {
        text-align: center;
    }
    
    .contact-info {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 2;
    }
    
    .contact-us {
        grid-column-start: 3;
        grid-column-end: span all;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    .maps {
        grid-row-start: 3;
        grid-row-end: span 2;
        grid-column-start: 1;
        grid-column-end: span all;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }
    
    .map-one iframe, .map-two iframe {
        width: 90%;
        height: 50vh;
    }
    
    /*------------reservations--------------*/
    
    .reservations {
        padding: 10px;
    }
    
    .rental-agreement{
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 3;
        padding-bottom: 0;
        margin-top: 7%;
    }
    
    .rental-agreement h2 {
        
        padding-bottom: 30px;
        padding-top: 30px;
    }
    
    .rental-agreement ul li {
        padding: 10px;
    }
    
    .rental-form {
        grid-column-start: 3;
        grid-column-end: span all;
        grid-row-start: 1;
        grid-row-end: span all;
        padding: 5%;
    }
    
    .rental-form fieldset {
        padding-left: 10%;
        padding-bottom: 10%;
    }
    
    .rental-button {
        margin-top: 0;
        grid-column-start: 1;
        grid-column-end: span 2;
    }
    
    .rental-button h2{
        padding-bottom: 10%;
    }

    .rental-form input[type="button"] {
        
        margin-left: 35%;
        
    }
    
    /*------------rentals--------------*/
    
    .table-container {
        grid-column-start: 1;
        grid-column-end: span all;
        grid-row-start: 1;
        grid-row-end: span all;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .rental-table{
        border-left: 3px solid var(--accentblue);
        border-right: 3px solid var(--accentblue);
    }
    
    .rental-table td:nth-child(1) {
        width: 10%;
    }
    
    .rental-table img {
        height: 175px;
        width: auto;
    }
    
}


