/*Universal Selectors*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Oswald font*/
body {
   font-family: 'Oswald'; 
   font-weight: 200;
   text-align: center;
}
header {
    text-align: center;
    color: aliceblue;
    background-color: black;
    padding-bottom: 10px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 10px;
    padding: 10px;

}
.card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content min-content min-content min-content;
    height: 100vh;  

    background-color: rgb(232, 232, 232);
}
.card h3{
    font-size: large;
    padding: 5px;
    background-color:rgb(28, 73, 99);
    color: aliceblue;
}
.card h4 {
    font: 1em 'Oswald';
    padding: 5px;
}
.card img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;   
}
.card p {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    max-width: 75%;
    padding-top: 5px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    color: azure;
    background-color: black;
    padding: 5px;
}
@media (max-width: 600px){
    main{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 600px) and (max-width: 992px){
    main{
        grid-template-columns: 1fr 1fr;
    }
    body > main > section:nth-child(3) {
        column-span: all;
    }
}