:root {
    --maincolor: #660000;
    --secondary: #f9efdd;
    --accent1: #ffffff;
    --accent2: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    text-align: center;
    width: auto;
    background-color: var(--accent1);
}

.navigation a {
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #000;
}

.navigation a:hover {
    background-color:#D8D8D8;
}

.action {
    background-color: #D8D8D8;
    color: #000;
}
#mode{
    position: relative;
    float: right;
	font-size: 2rem;
	cursor: pointer;
}

body{
    display: grid;
    grid-gap: 15px;
    max-width: 800px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
body h1 {
    font-family: 'Sedan SC';
    font-size: 3rem;
    color: var(--accent1);
    background-color: var(--maincolor);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;   
}

body h2 {
    font-family: 'Inconsolata';
    font-size: 1rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

main {
    display: grid;
    grid-gap: 5px;
}

section {
    text-align: center;
    display: block;
    padding: 10px;
    background-color: rgb(249, 239, 221);

}

footer {
    text-align: center;
    padding: 10px;
    color: var(--accent1);
    background-color:var(--maincolor);
}

.contact {
    padding: 10px;
}

@media (max-width: 600px){
    body{    
        justify-content: center;
        grid-gap:0;
    }
    .navigation {
        display: flex;
        flex-direction: column;
    }
    .navigation a{
        display: none;
    }
    .open a {
        display: block; 
     }
    #menu{
        background-color: var(--accent1);
        border: none;
    }
    #menu::before{
        content: "☰";
    }
    #menu.open::before{
        content: "X";
    }
 
}