:root {
    --maincolor: #660000;
    --secondary: #f9efdd;
    --accent1: #f5f5f5;
    --accent2: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation {
    text-align: center;
    width: auto;
    background-color: var(--accent1);
}

.navigation a {
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #000;
}

.navigation a:hover {
    background-color:#D8D8D8;
}

.action {
    background-color: #D8D8D8;
    color: #000;
}

#mode{
    position: relative;
    float: right;
	font-size: 2rem;
	cursor: pointer;
}

img{
    width: 100%;
    height: auto;
}
body{
    display: grid;
    grid-gap: 15px;
    max-width: 1150px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
body h1 {
    font-family: 'Sedan SC';
    font-size: 3rem;
    color: var(--accent1);
    background-color: var(--maincolor);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;   
}

body h2 {
    font-family: 'Inconsolata';
    font-size: 1.5rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

main {
    display: grid;
    grid-gap: 5px;
    /*min-height: 100vh;*/
}

section {
    text-align: center;
    display: block;
    padding: 10px;
    background-color: rgb(249, 239, 221);
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    color: var(--accent1);
    background-color:var(--maincolor);
}

.contact {
    padding: 10px;
}
/*--------discovery page------------*/

.local-photos {
    background-color: var(--accent1);
}

.hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.side-bar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    background-color: var(--accent1);
}

.fiddlers img {
    width: 80%;
    height: auto;
    padding: 10px;
    position: relative;
}

.fiddlers section {
    padding: 20px;
}

.fiddlers p {
    padding: 30px;
}

/*------------join page-------------*/

.membership h1 {
    height: 5%;
    font-size: 2rem;
    vertical-align: middle;
}

.signup {
    background-color: white;
}

.membership {
    display: flex;
    flex-direction: column;
    gap: 75px;
}

.membership h2{
    border: solid 2px var(--accent2);
    background-color: var(--accent1);
}

.gold  h2 {
    background-color: darkgoldenrod;
}

.silver h2 {
    background-color: silver;
}

.bronze h2 {
    background-color: #ce7e39;
}

.membership p{
    padding: 30px;
    border: solid 1px var(--accent2);
    background-color: var(--accent1);
}

table {
    margin: 10% auto 10px;
    border: thin solid gray;
    box-shadow: 0 0 5px grey;
    border-collapse: collapse;
    background-color: var(--accent1);
}

thead tr:nth-child(1) {
    font-size: larger;
    height: 50px;
    width: auto;
    background-color: var(--maincolor);
    color: var(--accent1);
}

thead tr:nth-child(2) {
    border-collapse: collapse;
    background-color: var(--maincolor);
    color: var(--accent1);
}


tbody tr td:first-child {
    background-color: #707070;
    color: var(--accent1);
}

td {
    padding: 5px;
    border: thin solid darkgray;
}

caption {
    caption-side: bottom;
    padding: 2px;
}

.caption2 {
    font-size: smaller;
}

tbody tr:nth-child(odd) td:nth-child(n+2){
    background-color: #e5e5e5;
}

/*-------------form--------------*/

.wf1 fieldset {
    margin: 2rem 0;
    border: 3px solid var(--maincolor);
    border-radius: 2px;
    padding: .5rem 2%;
}

.wf1 legend{
    color: var(--accent2);
    font-size: larger;
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: var(--accent2);
    font-size: 1.2rem;
    text-align: left;
}

.wf1 div {
    padding-top: 1rem;
    color: var(--accent2);
    font-size: 1.2rem;
    text-align: left;
    text-decoration: underline;
}

.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 select,
.wf1 textarea
{
    background-color: var(--accent1);
    display: block;
    border: solid 1px #ddd;
    border-radius: 6px;
    padding: .75rem;
    color: var(--accent1);
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type="radio"]{
    margin-right: 6px;
}

.wf1 input[type="submit"]{
    background-color: var(--maincolor);
    color: var(--accent1);
    border-radius: 5px;
    padding: .9rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.wf1 input:required{
    border-left: solid 8px var(--maincolor);
}

.wf1 input:required:valid{
    border-right: none;
}

/*--------------thankyou-----------*/

.thankyou h2 {
    padding: 100px;
}


/*------------directory-----------*/

.directory {
    display: block;
    background-color: var(--secondary);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.16);
    padding: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    align-items: center;
}

.card h1 {
    color: var(--accent2);
    background-color: white;
    font-family: "Times New Roman";
    font-size: smaller;
}

.card p {
    text-align: center;
}

.card img {
    max-width: 75%;
    text-align: center;
}

.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
    width: 5rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
}

.grid section > * {
    margin: 0.1rem;
}

.grid h3 {
    font-family: "Caveat", cursive;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section > * {
    margin: 0 1rem;
}

.list section img {
    display: none; /* smaller viewports only */
}

.list section h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
    background-color: #bed;
}
/*-------------media------------*/

@media (max-width: 600px){
    body{    
        justify-content: center;
        grid-gap:0;
    }
    .navigation {
        display: flex;
        flex-direction: column;
    }
    .navigation a{
        display: none;
    }
    .open a {
        display: block; 
     }
    #menu{
        background-color: var(--accent1);
        border: none;
    }
    #menu::before{
        content: "☰";
    }
    #menu.open::before{
        content: "X";
    }
 
}