/* WDD230 base site CSS*/

/*Universal Selectors*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Oswald font*/
body {
   font-family: 'Oswald'; 
   font-weight: 400;
}
header {
    text-align: center;
    background-color: rgba(118, 184, 193, 0.725);
}
header img {
    padding: 25px;
}
nav {
    text-align: center;
    background-color: rgb(170, 174, 176);
}
main {
    text-align: center;
    max-width: 100%;
    background-color: antiquewhite;
}
.cards {
    display: grid;
    height: 100vh;
    grid-template: auto auto 1fr / 300px 1fr auto;
}
main section{
    grid-column: 1 / 1;
}
footer {
    text-align: center;
}