/* WDD230 base site CSS*/

/*Universal Selectors*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Oswald font*/
body {
   font-family: 'Oswald'; 
   font-weight: 400;
}
header {
    text-align: center;
    background-color: rgba(118, 184, 193, 0.725);
}
header img {
    padding: 25px;
    height: 300px;
    width: auto;

}
nav {
    text-align: center;
    background-color: rgb(212, 215, 217);
}
nav a {
    text-decoration: none;
    color: rgb(36, 63, 63);
}
main {
    text-align: center;
    max-width: 100%;
    background-color: antiquewhite;
    padding: 25px;
}
.card {
    display: grid;
    height: auto;
    grid-template: none; 
}
main ul{
    grid-column: 1 / 1;
    list-style-type: none;
}

footer {
    text-align: center;
    background-color: rgb(212, 215, 217);
}