/* WDD230 base site CSS*/

/*Universal Selectors*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Oswald font*/
body {
     display: grid;
     grid-gap:10px;
    justify-items: center;
     margin: auto;
     font-family: 'Oswald';
     font-weight: 400;
 }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    background-color: rgba(118, 184, 193, 0.725);
    width: 100%;
}


header img {
    height: 20px;
    width: 20px;
}

.herolabel {
    position: absolute;
    font-family: 'Oswald';
    background: white;
    padding: 1.5rem;
    box-shadow: 0 0 1rem gray;
    opacity: 0.75;
}

.temple {
    width: 100%;
    height: 100%;
}

.navigation {
    text-align: center;
    width: 100%;
    background-color: rgb(212, 215, 217);
}

.navigation a {
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #000;
}

.navigation a:hover {
    background-color:rgb(198, 200, 201);
}

main {
    display: grid;
    grid-gap: 10px;
    text-align: center;
    padding: 25px;

}
.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #e0e0e0;
}

card h3 {
    text-align: center;
}

.card a {
    text-decoration: none;
    font-family: "Apple Braille";
    
}

.card-map{
    position:relative;
    border: none;
}
section{    
    padding: 10px;
}
main ul{
    grid-column: 1 / 1;
    list-style-type: none;   
}
main h3 {
    padding: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(212, 215, 217);
    width: 100%;
}
