@media (max-width: 600px){
    body{    
        justify-content: center;
        grid-gap:0;
    }
    .navigation {
        display: flex;
        flex-direction: column;
    }
    .navigation a{
        display: none;
    }
    .open a {
        display: block; 
     }
    /* #menu{
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000; */
    }
    #menu::before{
        content: "☰";
    }
    #menu.open::before{
        content: "X";
    }
